#card-container {
    background-image: url("../../assets/dot-grid.jpg");
    /* display: flex;
    flex-wrap: nowrap;
    justify-content: space-around; */
}
#card-container-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#card-container-header {
    font-size: 24px;
    margin: 10px 15px 0 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between; 
    /* font-variant: small-caps; */
}
