#card-container {
    background-image: url("../../assets/dot-grid.jpg");
    /* display: flex;
    flex-wrap: nowrap;
    justify-content: space-around; */
}
#card-container-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#card-container-header {
    font-size: 24px;
    margin: 10px 10px 0 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between; 
    background: rgba(255, 254, 254, 0.486);
    padding: 7px 5px 5px 5px;
    border: 1px solid rgb(182, 178, 178);
    border-radius: 5px;
}
