.nav-buttons {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.btn {
    margin: 0 5px;
}
#navbar-header{
    background-image: url("../../assets/white_paperboard.png");
}
#moxie-nav-logo {
    font-size: 22px !important;
    letter-spacing: 10px;
}